.schedules-container {
  .schedules-item {
    padding: 16px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    transition: all 0.2s;
    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius);
    min-height: 200px;
    &:hover {
      border: 1px solid var(--primary);
      transition: all 0.2s;
      cursor: pointer;
    }
  }
}

.skeleton-schedule {
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02) !important;
  transition: all 0.2s;
  border: 1px solid #fff;
  border-radius: var(--border-radius);
}
