.MuiDialog-container {
  .MuiToolbar-root {
    border-radius: 0px !important;
  }
  .MuiPaper-rounded {
    // border-radius: var(--border-radius);
    box-shadow: none !important;
  }
  .MuiDialogContent-root {
    border-color: var(--gray-300);
  }
}
