html {
  // Layout properties
  display: flex;
  flex-direction: column;

  // Box model properties
  margin: 0px;
  padding: 0px;

  // Visual properties
  background-color: var(--app-bg-color);

  body {
    // Typography properties
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);

    // Visual properties
    background-color: var(--app-bg-color);
    font-family: var(--font-family-base);
    color: var(--body-color);
    margin: 0px;
  }
}

::-webkit-scrollbar {
  display: none;
}

// Style link, a
a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 500 !important;
}

.text-link {
  text-decoration: underline;
  color: #0a8fdc !important;
  font-weight: 500 !important;
}

.MuiDropzoneArea-root {
  .MuiDropzoneArea-textContainer {
    margin-bottom: 20px;
  }

  .MuiDropzoneArea-text {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .MuiDropzonePreviewList-removeButton {
    top: 40px;
    right: 0;
  }
}

.cl-success {
  color: var(--success);
}

.cl-danger {
  color: var(--danger);
}

.text-line-2 {
  @include textNLine(2);
}

/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.badge-success {
  background-color: var(--success-light) !important;
  color: var(--success) !important;
  font-size: 10px !important;
  font-weight: 500 !important;
  border: 1px solid var(--success) !important;
  font-style: italic;
  cursor: pointer !important;
  .MuiSvgIcon-root {
    color: var(--success) !important;
  }
}

.badge-error {
  @extend .badge-success;
  color: var(--danger) !important;
  background-color: var(--danger-light) !important;
  border: 1px solid var(--danger) !important;
  font-style: normal;
  .MuiSvgIcon-root {
    color: var(--danger) !important;
  }
}

.badge-warning {
  @extend .badge-success;
  color: var(--warning) !important;
  background-color: var(--warning-light) !important;
  border: 1px solid var(--warning) !important;
  font-style: normal;
  .MuiSvgIcon-root {
    color: var(--warning) !important;
  }
}

.department-rules {
  .MuiFormControlLabel-root {
    .MuiFormControlLabel-label {
      color: var(--gray-600) !important;
      white-space: nowrap !important;
      font-size: 12px !important;
      margin-left: 12px !important;
    }
  }

  .MuiCheckbox-root {
    height: 22px;
    width: 22px;
    .MuiSvgIcon-root {
      fill: transparent;
      border-radius: 4px;
      background-color: #f4f4f4;
    }
  }

  .MuiCheckbox-root.Mui-checked {
    .MuiSvgIcon-root {
      border-radius: 4px;
      fill: var(--primary);
      height: 24px !important;
      width: 24px !important;
      background-color: transparent !important;
    }
  }
}
